body {
    background-color: #ffffff;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    overflow-y: scroll;
}
h1 {
    color: white;
    font-size: 42px;
    text-decoration: underline;
    text-decoration-color: black;
    text-align: center;
}
h3 {
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: #6BCB3D;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 12pt;
    border-radius: 8pt;
}
.logo {
    height: 70px;  
    transform-origin: left center;
}
.main-header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: #0B2C3F;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    flex-wrap: wrap;
}
.shop-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 0px;
    background-color: transparent;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.shop-nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
}
.shop-nav a:hover {
    background-color: #6BCB3D;
    color: #0B2C3F;
}
.user-nav a {
    font-size: 20pt;
    text-decoration: none;
    color: #3FA9F5;
    padding: 1px 15px;
    display: inline-block; 
    transform: scale(1.5); 
    transform-origin: right center;
}
.user-nav {
    margin-right: 20px;
}
.search {
    display: flex;
    min-width: 600px;

}
.search input {
    flex: 1;
    padding: 10px;
}
.search-box {
  display: inline-block;
  background-color: #6BCB3D; 
  color: #0B2C3F;           
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
  transition: background-color 0.3s;
}
.slide {
    background-color: transparent;
    min-height: 65vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0px;
}
.slide:nth-child(1) {
    background-image: url("/images/baner1.png");
    background-size: contain;
}
.slide:nth-child(2) {
    background-color: aquamarine;
}
.slide h2 {
    color: white;
    font-size: 6em;
    text-shadow: 0px 0px 1px black;
    margin: 12pt auto;

}
.slide-button {
    width: 200px;
    text-align: center;
    margin: 300px auto 0;
    text-decoration: none;
    background-color: #3FA9F5;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 12pt;
    border-radius: 8pt;
}
.content {
   margin: 3em auto;
   max-width: 80vw;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 12pt;
}
.card img {
    max-width: 100%;
}
.card {
    align-items: center;
    flex: 1;
    min-width: 300px;
    background-color: #ffffff;
    border-radius: 6pt;
    overflow: hidden;
}
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12pt;
}
.card-button {
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: #6BCB3D;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 12pt;
    border-radius: 8pt;
}
.banner {
    width: 100%;
    background: linear-gradient( to right, purple,pink);
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12pt;
}
.social a {
    text-decoration: none;
    font-size: 18pt;
    color: #6BCB3D;
}
.main-footer {
    min-height: 10vh;
    background-color: #0B2C3F;
    padding: 12pt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16pt;
}
.footer-nav a {
    color: white;
}
@media screen and (max-width:480px) {
    .shop-nav {
        flex-direction: column;
    }
    .logo {
        max-width: 60px;
    }
}